<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragmen="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Human Resource Project">
	<meta name="author" content="Juan Flores-Moroco">
	
	<title>Human Resource</title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/solid.min.css}">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-success">
			<a class="navbar-brand" th:href="@{/}"><i class="fas fa-users"></i> HR</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" th:href="@{/}" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"><i class="fas fa-cubes"></i> Maintenance </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{country}"><i class="fas fa-flag"></i> Country</a>
							<a class="dropdown-item disabled" th:href="@{/}"><i class="fas fa-map-marker-alt"></i> Location</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item disabled" th:href="@{/}"><i class="fas fa-warehouse"></i> Department</a>
						</div></li>
					<li class="nav-item"><a class="nav-link disabled" th:href="@{/}"
						tabindex="-1" aria-disabled="true"><i class="fas fa-user-tie"></i> Employee</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<h1>Human resoruce</h1>	
	</div>
	<footer th:fragment="footer">
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>		
		<script th:src="@{/js/sweetalert.min.js}"></script>
	</footer>
</body>
</html>