<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Human Resoruce Country</h1>

		<div class="card border-success text-center ">
			<div class="card-header border-success">Countries</div>
			<div class="card-body">
				<h5 class="card-title">List of Countries</h5>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="bg-primary text-white">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Name</th>
								<th scope="col">Region</th>
								<th scope="col" colspan="3">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="country:${countries}">
								<th scope="row" th:text="${country.id}"></th>
								<td class="text-left" th:text="${country.name}"></td>
								<td class="text-left" th:text="${country.region.name}"></td>
								<td> <a th:href="@{'/location/new/' + ${country.id}}" class="btn btn-success"> <i class="fas fa-file"></i> </a> </td>
								<td> <a th:href="@{'/country/edit/' + ${country.id}}" class="btn btn-info"> <i class="fas fa-edit"></i> </a> </td>
								<td> <a th:href="@{'/country/del/' + ${country.id}}" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> </a> </td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="card-footer text-muted border-success">
				<a href="@{country}" class="btn btn-primary">Add Country</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>