<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Human Resoruce Department</h1>

		<div class="card border-success text-center ">
			<div class="card-header border-success">Departments</div>
			<div class="card-body">

				<form th:action="@{'/department/buscar'}" method="get"
					class="form-inline">
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" id="txtId" name="txtId"
							placeholder="Id">
					</div>
					<button type="submit" class="btn btn-primary mb-2">buscar</button>
				</form>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="bg-primary text-white">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Name</th>
								<th scope="col">Manager-Id</th>
								<th scope="col">Location</th>
								<th scope="col" colspan="3">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="depart:${departamentos}">
								<th scope="row" th:text="${depart.id}"></th>
								<td class="text-left" th:text="${depart.name}"></td>
								<td class="text-left" th:text="${depart.manager_id}"></td>
								<td class="text-left" th:text="${depart.location.city}"></td>
								
								<td><a th:href="@{'/department/' + ${depart.id} + '/employees'}"    
									class="btn btn-info"> <i class="fas fa-user-friends"></i>
								</a></td>
								
								<td><a th:href="@{'/department/edit/' + ${depart.id}}"
									class="btn btn-info"> <i class="fas fa-edit"></i>
								</a></td>
								<td><a  th:href="@{'/department/del/' + ${depart.id}}"
									class="btn btn-danger" > <i class="fas fa-trash-alt"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="card-footer text-muted border-success">
				<a th:href="@{/department/new/}"
					class="btn btn-success"> <i class="fas fa-file"></i> New Department
				</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>




